@use "../settings" as *;

body {
  background-color: $color-neutral-300;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    width: 100%;
  }

  .section {
    padding: $spacing-xl 0;
  }

  p {
    margin: 0;
  }
}
